body{
    background-color: darkkhaki;
}
.flex-container{
    display: flex;
    height: 100vh;
    align-items: center;
}
.flex-item{
    background-color: darkorange;
    margin:5px;
    padding: 30px;
    height: 17%;
    
}body{
    background-color: darkkhaki;
}
.flex-container{
    display: flex;
    height: 100vh;
    align-items: center;
}
.flex-item{
    background-color: darkorange;
    margin:5px;
    padding: 30px;
    height: 17%;
    
}